* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    max-width: 100%;
    right: 20px;
    height: 10em;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}

.nav {
    width: 100vw;
    height: 2em;
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    text-align: left;
    border-top: 0.1em solid lightgray;
    border-bottom: 0.1em solid lightgray;
    background-color: black;
}

.nav-component {
    min-width: 10%;
    display: inline-block;
    height: 2em;
    border: 0.05em solid lightgray;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-top: 8px;
    text-align: center;
    border-radius: 1%;
    background-color: black;
}

.nav-filler {
    min-width: 70%;
    display: inline-block;
    height: 2em;
    border: 0.05em solid lightgray;
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-top: 8px;
    text-align: center;
    border-radius: 1%;
    background-color: black;
}

.nav-component:hover {
    transition: background-color 1s ease;
    background-color: rgb(255, 51, 0);
}

a:link {
    text-decoration: none;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: black;
    padding-top: 1em; 
    width: 100%;
    display: inline-block;
}

.content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    padding-top: 15px;
}

.difficulty-button {
    display: inline-block;
    margin-top: 15em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 3%;
    height: 25em;

}

.difficulty-button:hover {
    background-color: rgb(150, 150, 150);
    transition: background-color 0.5s ease;
}

.resize-button {
    width: 40%;
    position: relative;
    left: 20%;
}

.game-board {
    max-width: 750px;
    display: grid;
    grid-template-rows: repeat(9, 11.11%);
    border: 0.2em solid black;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(9, 11.11%);
}

.tile {
    padding: 0.1em;
    border: 0.05em solid black;
    font-size: 2.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}

.tile:hover {
    transition: background-color 0.5s ease;
    background-color: lightslategray;
}

.choices-container {
    max-width: 750px;
    margin-top: 1em;
    text-align: center;
}

.choice {
    display: inline-block;
    width: 10%;
    height: 10%;
    padding: 0.1em;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-left: 0.05em solid black;
    border-right: 0.05em solid black;
    font-size:2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}

.choice:hover {
    transition: background-color 0.5s ease;
    background-color: lightgreen;
}

.red {
    transition: background-color 0.5s ease;
    background-color: red;
}

.green {
    transition: background-color 0.5s ease;
    background-color: green;
}

.highlighted {
    transition: background-color 0.5s ease;
    background-color: yellow;
}

.game-state {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}